[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Texpainter

# A comment which can/will be used as a tooltip
Comment=A tool for creating tilable textures

# The executable of the application, possibly with arguments.
Exec=texpainter

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Graphics;RasterGraphics

Icon=texpainter